@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;

    background-color: hsl(292deg 35.4% 84.3% / 45%);
    font-family: 'Work Sans';
}

.background {
    background-image: url('assets/background-pattern-mobile.svg');
    background-size: cover;

    height: 30vh;
    position: absolute;
    top: 0;
    width:100%;
}

main {
    margin: 0 1.5em;
    background-color: white;
    padding: 1.5em;
    border-radius: 7px;
    z-index: 1;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2);
}

.title {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.title img {
    max-width: 9%;
}

.title h1 {
    font-size: 2.5em;
}

h1, h3 {
    color: hsl(292, 42%, 14%);
}

h3 {
    font-size: 1.05em;
}

.answer {
    color: hsl(292, 16%, 49%);
    margin-top: 1.25em;
    line-height: 1.5em;
}

hr {
    border: 1px solid #e8e6e642;
}

.question {
    padding: 1.25em 0;
}

.question-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.question:last-of-type {
    padding-bottom: 0;
}

.closed {
    display: none;
}